.messagesWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

// Workaround; Works as justify-content: flex-end; but with working scroll
.fixScroll {
  flex: 1 1 auto;
}

.children {
  padding: 10px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
