$margin: 3px;

.wrapper {
  max-width: 65%;
  align-self: flex-end;
  margin: $margin;
}

.item {
  position: relative;
  background-color: var(--color-tertiary);
  padding: 2px 5px;
  border-radius: 10px 10px 0;

  &:last-child {
    border-bottom: $margin solid var(--color-body); // Simulates margin due to problems across browsers
    border-bottom-left-radius: 16px;
  }

  & a {
    color: inherit;

    &:active {
      background-color: var(--color-primary);
    }
  }
}

.received {
  align-self: flex-start;
  & > div {
    background-color: var(--color-secondary);
    border-radius: 10px 10px 10px 0;
    padding: 2px 5px;

    &:last-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 16px;
    }
  }
}

.question {
  & > div {
    background-color: var(--color-question);
  }
}

.gif {
  border-radius: 8px;
  max-width: 100%;
}
