$marginBottom: 5px;

.wrapper {
  max-width: 55%;
  background-color: var(--color-primary);
  margin: $marginBottom 10px 0;
  padding: 2px 5px;
  border-radius: 10px 10px 0;
  align-self: flex-end;

  &:last-child {
    border-bottom: $marginBottom solid var(--color-body); // Simulates margin due to problems across browsers
    border-bottom-left-radius: 16px;
  }
}

.received {
  background-color: var(--color-secondary);
  border-radius: 10px 10px 10px 0;
  align-self: flex-start;

  &:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 16px;
  }
}
