.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-body);
}

.messagesWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;

  &:first-child {
    // Workaround; Works as justify-content: flex-end; but with working scroll
    margin-top: auto !important;
  }
}
