$paddingHorizontal: 20px;
$paddingVertical: 15px;

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: var(--color-primary);
  padding: 15px 20px;
  min-height: 68px;

  & > button:last-child {
    padding: 0 0 0 7px;
  }

  & > button {
    display: none;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.expanded {
  grid-template-columns: auto 1fr auto;

  & div {
    display: none;
  }

  & > button {
    display: block;
  }
}

.giphyWrapper {
  grid-template-columns: none;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

.actionButtons {
  & button {
    padding: 0 6px;
  }
}
