.wrapper {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 55px;
  background-color: var(--color-primary);
}

.button {
  background-color: transparent;
  text-align: center;
  border: none;
  transform: translateY(1px);

  &:focus {
    cursor: pointer;
  }
}

.icon {
  & path {
    fill: var(--color-text);
  }
}
