.messagesWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 10px 10px 5px;
}

// Workaround; Works as justify-content: flex-end; but with working scroll
.fixScroll {
  flex: 1 1 auto;
}

.children {
  padding: 10px;
}
