.wrapper {
  display: none;
  align-items: center;
  background-color: var(--color-secondary);
  margin: 3px 0;
  min-height: calc(var(--font-m) * 2);
  padding: 0 12px;
  border-radius: 10px 10px 10px 0;
  align-self: flex-start;
}

.visible {
  display: flex;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--color-text);
  animation-name: animate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: backwards;

  &:not(:last-child) {
    margin-right: 4px;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes animate {
  30% {
    transform: translateY(-3px);
  }
  0%,
  100% {
    transform: translateY(2px);
  }
}
